{% extends "homepage.html" %}

{% block titulo %}

Criar Conta  - Fakepinterest

{% endblock %}

{% block formulario %}

<form method="POST">
    {{ form.csrf_token }}

    
    {{ form.username.label() }}
    {{ form.username()}}

    {{ form.email.label() }}
    {{ form.email()}}

    {{ form.senha.label() }}
    {{ form.senha()}}

    {{ form.confirmar_senha.label() }}
    {{ form.confirmar_senha()}}

    {{ form.botao_confirmacao.label() }}
    {{ form.botao_confirmacao()}}

   </form>

   <a href="{{ url_for('homepage')}}">Já tem uma uma conta? Faça seu Login</a>
{% endblock %}

