<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        
        {% block titulo %}

        Fakepinterest

        {% endblock %}

        
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">

</head>

{% block body %}
<body>
  
    <h1>Home Page do pinterest</h1>

    <h2>Agora vamos criar nossa pagina</h2>


    {% block formulario %}

    <form method="POST">
       {{ form.csrf_token }}

       {{ form.email.label() }}
       {{ form.email()}}

       {{ form.senha.label() }}
       {{ form.senha()}}

       {{ form.botao_confirmacao.label() }}
       {{ form.botao_confirmacao()}}

      </form>

      <a href="{{ url_for('criarconta')}}">Ainda não tem uma conta? Click aqui para criar</a>

      {% endblock %}

     
</body>




{% endblock %}

</html>




